<!DOCTYPE html>

<html>

<head>
   
<title>Weather</title>
<link rel="icon" href="img/cloud.webp">
<link rel="stylesheet" href="./css/styles.css">


</head>

<body>
    
   <div class="main-content">
       {{>header}}
       <img class="weather1" src="/img/slika2.jpg">
       <p>Live weather info</p> 
       <form action>
           <input placeholder="Search here...">
           <button>Search</button>

       </form>
       

       <p id="message-1"></p>
       <p id="message-2"></p>

    </div>
  
   {{>footer}}

   <script src="/js/app.js"></script>
</body>


</html>